<h1>Add a New Word!</h1>

<form action='/' method='post'>
  <div class='form-group'>
    <label>What is your word?</label>
    <input type="text" name="newWord" id="newWord" class="form-control">
  </div>
  <button type="submit" id="addWord" class='btn'>Add!</button>
</form>
