<h1>Add a New Definition!</h1>

<form action='/words/$word.getId()' method='post'>
  <div class='form-group'>
    <label>What is your definition of $word.getName()?</label>
    <input type="text" name="newDef" id="newDef" class="form-control">
  </div>
  <button type="submit" id="addDef" class='btn'>Add!</button>
</form>
