<h1>Definitions of $word.getName():</h1>

<div>
  <ol>
  #foreach($definition in $definitions)
    <li>$definition.getDescription()</li>
  #end
  </ol>
</div>

<div>
  <a href="/words/$word.getId()/definitions/new">Add a New Definition</a>
  <a href="/">Return to Word List</a>
</div>
